@page "/Application"
@using Core.Models
@using Exam2024t.Services
@using Exam2024t.Layout

@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Application</PageTitle>

<h3>Tilmeld til børneklub</h3>

<button class="btn btn-primary" @onclick="OnClickAddDialog">Tilmeld børneklub</button>


<ModalDialog @ref="addDialog" Title="Tilmeld børneklub">
    <EditForm EditContext="@aEditContext" class="application-form" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group row">
            <label for="ChildName" class="col-md-4 col-form-label">Navn Barn</label>
            <div class="col-md-4">
                <InputText id="ChildName" @bind-Value="application.Child.ChildName" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label for="ChildAge" class="col-md-4 col-form-label">Alder barn</label>
            <div class="col-md-4">
                <InputNumber id="ChildAge" @bind-Value="application.Child.ChildAge" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label for="Clothingsize" class="col-md-4 col-form-label">Tøj størrelse</label>
            <div class="col-md-4">
                <InputText id="Clothingsize" @bind-Value="application.Child.ClothingSize" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label for="BeenBefore" class="col-md-4 col-form-label">Har du været i børneklub før?</label>
            <div class="col-md-4">
                <InputCheckbox id="BeenBefore" @bind-Value="application.Child.Beenbefore" />
            </div>
        </div>

        <div class="form-group row">
            <label for="FirstPriorityWeek" class="col-md-4 col-form-label">Førsteprioritet uge</label>
            <div class="col-md-4">
                <InputSelect @bind-Value="selectedOptionUge1" @oninput="OnInputUge1">
                    @foreach (var anOption in optionsUge1)
                    {
                        <option value="@anOption"> @anOption</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="form-group row">
            <label for="FirstPriorityPeriod" class="col-md-4 col-form-label">Førsteprioritet periode</label>
            <div class="col-md-4">
                <InputSelect @bind-Value="selectedOptionPeriode1" @oninput="OnInputPeriode1">
                    @foreach (var anOption in optionsPeriode1)
                    {
                        <option value="@anOption"> @anOption</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="form-group row">
            <label for="SecondPriorityWeek" class="col-md-4 col-form-label">Andenprioritet uge</label>
            <div class="col-md-4">
                <InputSelect @bind-Value="selectedOptionUge2" @oninput="OnInputUge2">
                    @foreach (var anOption in optionsUge2)
                    {
                        <option value="@anOption"> @anOption</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="form-group row">
            <label for="SecondPriorityPeriod" class="col-md-4 col-form-label">Andenprioritet periode</label>
            <div class="col-md-4">
                <InputSelect @bind-Value="selectedOptionPeriode2 " @oninput="OnInputPeriode2">
                    @foreach (var anOption in optionsPeriode2)
                    {
                        <option value="@anOption"> @anOption</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="form-group row">
            <label for="Interests" class="col-md-4 col-form-label">Interresser</label>
            <div class="col-md-4">
                <InputText id="Interests" @bind-Value="application.Child.Interest" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label for="Comment" class="col-md-4 col-form-label">Kommentarer</label>
            <div class="col-md-4">
                <InputText id="Comment" @bind-Value="application.Child.Comment" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label for="IsVolunteer" class="col-md-4 col-form-label">Vil du være frivillig? kun for 15-18 årige</label>
            <div class="col-md-4">
                <InputCheckbox id="IsVolunteer" @bind-Value="application.IsVolunteer" />
            </div>
        </div>

        <div class="form-group row">
            <label for="ParentInformation" class="col-md-4 col-form-label">Forælder info</label>
        </div>

        <div class="form-group row">
            <label for="VolunteerNavn" class="col-md-4 col-form-label">Navn</label>
            <div class="col-md-4">
                <InputText id="VolunteerNavn" @bind-Value="application.Child.Volunteer.Name" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label for="VolunteerEmail" class="col-md-4 col-form-label">Email</label>
            <div class="col-md-4">
                <InputText id="VolunteerEmail" @bind-Value="application.Child.Volunteer.Email" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label for="Kræwnr" class="col-md-4 col-form-label">Kræwnr.</label>
            <div class="col-md-4">
                <InputNumber id="Kræwnr" @bind-Value="application.Child.Volunteer.Kræwnr" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-submit">Opret</button>
            </div>
        </div>
    </EditForm>
</ModalDialog>
    

@code {
    string[] optionsUge1 = { "Vælg", "Uge 27", "Uge 28", "Uge 29", "Uge 30", "31" };
    string[] optionsUge2 = { "Vælg", "Uge 27", "Uge 28", "Uge 29", "Uge 30", "31" };
    string[] optionsPeriode1 = { "Vælg", "Onsdag-Søndag", "Onsdag-Fredag", "Fredag-Søndag" };
    string[] optionsPeriode2 = { "Vælg", "Onsdag-Søndag", "Onsdag-Fredag", "Fredag-Søndag" };
    string selectedOptionUge1 = "Vælg";
    string selectedOptionUge2 = "Vælg";
    string selectedOptionPeriode1 = "Vælg"; 
    string selectedOptionPeriode2 = "Vælg";

    Core.Models.Application application = new Core.Models.Application();


    private EditContext aEditContext;
    private ModalDialog? addDialog { get; set; }

    [Inject]
    private IApplicationService mService { get; set; }

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(application);
    }

    // Uge select
    void OnInputUge1(ChangeEventArgs e)
    {
        selectedOptionUge1 = e.Value?.ToString() ?? "null";
    }
    void OnInputUge2(ChangeEventArgs e)
    {
        selectedOptionUge2 = e.Value?.ToString() ?? "null";
    } 
    // Periode select
    void OnInputPeriode1(ChangeEventArgs e)
    {
        selectedOptionPeriode1 = e.Value?.ToString() ?? "null";
    }
    void OnInputPeriode2(ChangeEventArgs e)
    {
        selectedOptionPeriode2 = e.Value?.ToString() ?? "null";

    }

    private void OnClickAddDialog()
    {     
        addDialog?.Open();
        
    }

    public async Task HandleValidSubmit()
    {
        await mService.Add(application);
        addDialog?.Close();


    }

    
}
